.container {
	width: fit-content;
	height: fit-content;
	margin-top: 15vh;
	margin-left: 38vw;
	display: flex;
	flex-direction: column;
	align-content: center;
	background-color: white;
	padding: 20px;
	align-items: center;
	box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
		0 15px 40px rgba(166, 173, 201, 0.2);
	border-radius: 5px;
}
.login_info {
	padding: 8px 12px;
	border-radius: 3px;
	border: 1px solid black;
}
.sign_up {
	padding: 8px 12px;
	border-radius: 3px;
	border: 1px solid black;
}
.login {
	width: 100%;
	padding: 8px 10px;
	background-color: #5bc0de;
	border: black;
	border-radius: 4px;
}
