ul {
	list-style-type: none;
	overflow: hidden;
	margin: 0;

	top: 0;
	width: 97%;
	background-color: #014b61;
}

ul.topnav li {
	float: left;
}

ul.topnav li a {
	display: flex;
	color: rgb(255, 255, 255);
	text-align: center;
	font-size: 19px;
	margin-top: 6px;
	text-decoration: none;
	margin-right: 1.3vw;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
ul.topnav li a.order {
	display: flex;
	color: rgb(255, 255, 255);
	text-align: center;
	font-size: 19px;
	margin-top: 14px;
	text-decoration: none;
	margin-right: 1.3vw;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
ul.topnav li a:hover:not(.active) {
	cursor: pointer;
	text-decoration: underline;
	opacity: 0.8;
}

ul.topnav li a.active {
	background-color: whitesmoke;
	padding: 5px 10px;
	color: black;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 8px;
	margin-right: 30px;
}
ul.topnav li a.active:hover {
	background-color: rgb(231, 231, 231);
}
ul.topnav li.right {
	float: right;
}

.search {
	float: right;
	width: 180px;
	box-sizing: border-box;
	border: 2px solid rgb(0, 0, 0);
	border-radius: 4px;
	font-size: 16px;
	margin-top: 8px;
	margin-left: 5px;
	margin-right: 20px;
	background-color: white;
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding: 6px 15px 6px 20px;
	transition: width 0.4s ease-in-out;
}

.search:focus {
	width: 30%;
}

.badge {
	position: absolute;
	font-size: 10px;
	margin-left: 40px;
	padding: 4px 5px;
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
}
.custom-select {
	height: 32px;
	width: 150px;
	border-radius: 5px;
	background-color: rgb(236, 236, 236);
	text-align: center;
	margin-left: 10px;
	margin-top: 8px;
	font-size: 15px;
	color: black;
	padding: 4px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
