.prod {
  width: 25vw;
  height: 46vh;
  padding: 5px;
  background-color: white;
  margin-top: 15px;
  margin-bottom: 10px;
  float: left;
  margin-left: 5vw;
  text-align: center;
  border-radius: 15px;

  position: relative;
  z-index: 1;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}

img {
  position: relative;
  width: 15vw;
  height: 25vh;
  padding: 5px;
  margin-top: 5px;
}
.addCart {
  width: 90%;
  align-self: flex-end;
  margin-right: 1vw;
  bottom: 0;
  background-color: #1d1d1d;
  color: white;
  padding: 12px 20px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  float: right;
}
button:hover {
  background-color: #000000;
}
p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  height: 4vh;
}
.title {
  font-weight: bold;
}
.price {
  color: rgb(211, 0, 42);
  font-size: 18px;
  font-weight: bold;
}
